ul {
    list-style-type: none;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: right;
}
ul a {
    color: white;
}
li a:hover {
    background-color: #aaaaaa;
    color: white;
    display: inline;
}
.dropb{
    background-color: black;
    color: white;
    border: none;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dd-content {
    display: none;
    position: absolute;
    background-color: #aaaaaa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dd-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dd-content a:hover {
    background-color: #eeeeee;
}

.dropdown:hover .dd-content {
    display: block;
}

.dropdown:hover .dropb {
    background-color: #aaaaaa;
}
